{%- if page %}
{%- set resource = page %}
{%- elif section %}
{%- set resource = section %}
{%- endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="{{ get_url(path = 'style.css', cachebust = true) }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }} &raquo; Feed" href="/{{ config.feed_filename }}" />

    <meta property="og:type" content="website" />
    {% block extra_head %}{% endblock %}
  </head>

  <body>
    <header>
      <div class="columns is-centered">
        <div class="column is-6">
          <nav class="navbar" aria-label="main navigation">
            <div class="navbar-brand">
              <a href="{{ get_url(path='@/_index.md') }}" class="navbar-item">
                <hgroup>
                  <h1 class="title">{{ config.title }}</h1>
                  {% if config.description %}<p class="subtitle">{{ config.description }}</p>{% endif %}
                </hgroup>
              </a>
            </div>
            <div class="navbar-menu is-active">
              <div class="navbar-start">
                <a class="navbar-item" href="{{ get_url(path='@/pages/about.md') }}">About</a>
                <a class="navbar-item" href="{{ get_url(path='@/pages/archive.md') }}">Archive</a>
              </div>
              <div class="navbar-end">
                <a class="navbar-item" alt="atom feed" href="/{{ config.feed_filename }}">
                  <img class="tag" alt="feed icon" src="{{ get_url(path = 'feed.svg', cachebust = true) }}" />
                </a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main id="wrapper">
      <div class="columns is-centered">
        <div class="column is-6">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <footer class="footer mt-4 p-3">
      <div class="columns is-centered">
        <div class="column is-6">
          <div class="content is-small has-text-centered">
            <p>
            The website content is licensed under <a
                                                      href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA
                                                      4.0</a>.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
