{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block extra_head %}
<link rel="canonical" href="{{ config.base_url }}">

<meta property="og:title" content="{{ config.title }}" />
<meta property="og:url" content="{{ config.base_url }}" />
<meta property="og:site_name" content="{{ config.title }}" />
<meta property="og:locale" content="en_US" />
{% if config.description %}
<meta property="og:description" content="{{ config.description }}" />
<meta name="description" content="{{ config.description }}">
{% endif %}

{% endblock extra_head %}

{% block content %}
{% if section.title %}
<h2 class="subtitle">{{ section.title }}</h2>
{% endif %}
{% if paginator.pages | length > 0 %}
<ul>
  {% for page in paginator.pages %}
  <li class="mb-4">
    <div class="card">
      <div class="card-content">
        {{ macros::page_title(page = page) }}
        {% if page.summary %}
        <div class="mb-2">
          <div id="content" class="content page-body">
            {{ page.summary | safe }}
          </div>
          <!-- <a class="button" href="{{ page.permalink }}#continue-reading">Continue Reading</a> -->
        </div>
        {% endif %}
        {{ macros::page_footer(page = page) }}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if paginator.number_pagers > 1 %}
<nav class="pagination is-centered" aria-label="pagination">
  <div class="navigation-previous">
  <a class="pagination-previous{% if not paginator.next %} is-invisible{% endif %}" href="{{ paginator.next }}">Older posts</a>
  </div>
  <a class="pagination-next{% if not paginator.previous %} is-invisible{% endif %}" href="{{ paginator.previous }}">Newer posts</a>
  <ul class="pagination-list">
    <li>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</li>
  </ul>
</nav>
{% endif %}
{% endblock page %}
